.header-img {
  display: inline-block;
  vertical-align: middle;
}
.header-buttons {
  float: right;
}
.center-align {
  text-align: center;
  color: blueviolet;
}
.upper-portion {
  background-color: black;
  color: white;
  padding-top: 35px;
  padding-left: 15%;
  padding-right: 15%;
  max-width: 900px;
}
.free-plan {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  width: 150px;
  text-align: center;
  color: white;
  border-radius: 10px;
}
.signup {
  background-color: rgb(0, 0, 0);
  width: 300px;
  text-align: center;
  margin: 0 auto;
  color: white;
  border-radius: 10px;
}
.lower-portion {
  background-color: gray;
}
body {
  margin: 0;
  padding: 0;
  background-color: gray;
 


}
