.header-img {
  display: inline-block;
  vertical-align: middle;
}
.header-buttons {
  float: right;
}
.center-align {
  text-align: center;
  color: #bf7bfe;
}
.upper-portion {
  background-color: black;
  color: white;
  padding: 35px 5vw;
  max-width: 900px;
  margin: 40px auto 0 auto;
  box-sizing: border-box;
}
.free-plan {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  width: 170px;
  text-align: center;
  color: white;
  border-radius: 10px;
}
.signup {
  background-color: rgb(0, 0, 0);
  width: 300px;
  text-align: center;
  margin: 0 auto;
  color: white;
  border-radius: 10px;
}
.lower-portion {
  background-color: gray;
}
body {
  margin: 0;
  padding: 0;
  background-color: gray;
 


}
